.dashboard-messages-colors,
.dashboard-messages-icons {
	display:flex;
	flex-wrap:wrap;
	[type="radio"] {
		display:none;
	}
	label {
		margin:5px;
	}
}

.dashboard-messages-colors {
	label {
		outline:1px solid $wp-gray;
		flex:1 1 20%;

		padding:5px 10px;
	}
	:checked + label {
		box-shadow:0 0 3px 3px $wp-blue;
	}
}
.dashboard-messages-icons {
	position: relative;
	label {
		display:none;
		outline:1px solid $wp-gray;
		flex:1 0;

		align-items: center;
		margin:0;
		padding:5px 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
	}
	.select {
		flex:1 0;
		> .search {
			display: none;
			flex:0 0 100%;
			position: sticky;
			top:32px;
			@media screen and (max-width:782px) {
				top:47px;
			}
			@media screen and (max-width:600px) {
				top:0;
			}
			background: #fff;
			//border-bottom: 1px solid $wp-gray-lighter;
			outline:1px solid $wp-gray;
			z-index: 1;
			[type="search"] {
				flex:1 1 auto;
				padding:5px;
				margin:5px;
				font-size:1.25em;
			}
		}
	}
	:checked + label,
	&.active label {
		&:not(.-off) {
			display:flex;
		}
	}
	&.active {
		display:block;
		position:fixed;
		left:0;
		top:0;
		bottom:0;
		right:0;
		padding-bottom:50px;
		z-index:9999;
		margin:auto;
		background-color:rgba(0,0,0,0.7);
		overflow:auto;
		.select {
			background:#fff;
			max-width:80vw;
			@media screen and (max-width:782px) {
				max-width:100vw;
			}
			display: flex;
			flex-wrap: wrap;
			margin:50px auto;
			> .search {
				display: flex;
			}
		}
		label {
			min-width:200px;
		}
		:checked + label {
			color:#fff;
			background-color:$wp-blue;
		}
	}
	.dashicons {
		font-size:40px;
		width:40px;
		height:40px;
		padding:5px;
	}
	.dashicons- {
		position: relative;
		&::before {
			content:'';
			border-radius:50%;
			border:0.2em solid mix($wp-gray-dark,$wp-gray);
			width:1em;
			height:1em;
			display:inline-block;
			box-sizing: border-box;
		}
		&::after {
			content:'';
			position: absolute;
			left:50%;
			top:50%;

			height:0.2em;
			width:1em;
			margin-left:-0.5em;
			margin-top:-0.1em;
			background:mix($wp-gray-dark,$wp-gray);
			transform:rotate(45deg);

			display:inline-block;
			box-sizing: border-box;
		}
	}
}
.dashboard-messages-placements {
	display: flex;
	& > * {
		flex:1;
		margin-top:1.33em;
		h4 {
			margin-top:0;
		}
	}
	.context {
		margin-right:10px;
		border-right:1px solid $wp-gray-dark;
	}
	.priority {
		padding-left:5px;
	}
}
.dashboard-messages-select-radio {
	display: flex;
	[type="radio"] {
		margin-top:0;
	}
	padding:0 0 10px 0;
}

th {
	&#scope {
		width:100px;
	}
}
